div {
    margin-left: 20px;
}
table {
    border-collapse: separate;
    border-spacing: 0 15px;
}

th {
    background-color: #4287f5;
    color: white;
}

th,
td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    color: #f44336;
}

input, select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}